In [4]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
print(os.getcwd())

e:\spending_analyzer\Student_spending_analyzer\notebooks

In [10]:
##load the dataset

df_0=pd.read_csv("E:/spending_analyzer/Student_spending_analyzer/data/students.csv"
)
df_0

,user_id,accommodation,has_scholarship,has_internship,persona,expected_monthly_income
0,U00001,shared_flat,False,False,normal,11311.28
1,U00002,hostel_pg,False,False,foodie,22874.75
2,U00003,hostel_pg,False,True,normal,22902.65
3,U00004,hostel_pg,True,False,bigspender,19467.19
4,U00005,with_parents,True,False,normal,24871.38
...,...,...,...,...,...,...
295,U00296,hostel_pg,False,False,foodie,10966.76
296,U00297,alone,False,False,bigspender,17407.52
297,U00298,with_parents,False,False,normal,15832.28
298,U00299,with_parents,False,False,saver,10876.91
299,U00300,hostel_pg,False,False,saver,13907.75

In [11]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user_id                  300 non-null    object
 1   accommodation            300 non-null    object
 2   has_scholarship          300 non-null    bool
 3   has_internship           300 non-null    bool
 4   persona                  300 non-null    object
 5   expected_monthly_income  300 non-null    float64
dtypes: bool(2), float64(1), object(3)
memory usage: 10.1+ KB

In [12]:
df_0.describe()

       expected_monthly_income
count               300.000000
mean              18859.290767
std                6349.319171
min                5017.820000
25%               14123.572500
50%               17971.695000
75%               22877.912500
max               50132.010000